@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Space+Grotesk:wght@500&display=swap');

* {
    font-family: 'Space Grotesk', sans-serif;
}

body {
    margin: 0px;
    background-image: url("images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: auto;
    font-size: 18px;
    color: hsl(0, 0%, 100%);
}

.frontcard {
    background-image: url("images/bg-card-front.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 27.9375rem;
    height: 16rem;
    position: absolute;
    right: 68%;
    top: 18%;
    display: flex;
    transform: translate(35%, -21%);
    flex-direction: column;
}

.frontcard__content {
    padding: 4%;
}

#logofrontendcard {
    width: min-content;
}

.frontcard__content p {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 1.5rem;
}

.nameExpDateCard p {
    font-size: 1.125rem;
}

.nameExpDateCard {
    display: flex;
    justify-content: space-between;
}


.backcard {
    background-image: url("images/bg-card-back.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 27.9375rem;
    height: 15rem;
    position: absolute;
    right: 50%;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transform: translate(0%, -28%);
}


.backcard p {
    width: 100%;
    margin-right: 4rem;
    text-align: right;
}

.formcontent {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 83%;
    top: 50%;
    transform: translate(-70%, -50%);
    font-weight: 700;
    height: 23.4375rem;
    color: hsl(278, 68%, 11%);
    justify-content: center;
}

.formcontent--exp-cvc {
    display: flex;
    margin-bottom: 2rem;
}

.formcontent--exp-cvc input {
    margin-top: 0.5rem;
}

.formcontent__mmyy {
    display: flex;
    margin-right: 0.4rem;
}

.formcontent__mmyy input {
    width: 5rem;
    margin-right: 1rem;
}

input {
    padding-left: 1rem;
    border-width: thin;
    color: hsl(278, 68%, 11%);
    font-weight: 600;
}

input,
button {
    height: 2.875rem;
    border-radius: 10px;
}

.formcontent--displaylab-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

button {
    width: 100%;
    color: white;
    background-color: hsl(278, 68%, 11%);
    font-size: inherit;
}

.formcontent--error {
    margin: 0px;
    font-size: small;
    color: hsl(0, 100%, 66%);
}

.completedContent {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.completedContent p {
    color: hsl(270, 3%, 87%);
    font-size: smaller;
}

.completedContent button {
    width: 21rem;
}

@media screen and (max-width: 1024px) {
    body {
        background-image: url("images/bg-main-mobile.png");
        background-size: cover;
    }

    .formcontent {
        left: 50%;
        top: 50%;
        transform: translate(-50%, 100%);
    }

    .frontcard {
        width: 37rem;
        height: 20rem;
        position: absolute;
        left: 50%;
        top: 43%;
        transform: translate(-50%, -21%);
        z-index: 2;
        background-size: contain;
    }
    .backcard p{
        margin-right: 5rem;
        margin-top: 0rem;
    }

    .backcard {
        width: 37rem;
        height: 20rem;
        left: 57%;
        top: 18%;
        transform: translate(-53%, -28%);
        z-index: 1;
        background-size: contain;
    }

}
@media screen and (max-width: 660px) {
    .frontcard {
        width: 86%;
        height: 42%;
    }
    .backcard {
        width: 86%;
        height: 42%;
    }
    .backcard p{
        margin-right: 5rem;
    }
}
@media screen and (max-width: 594px) {
    .backcard p{
        margin-right: 3rem;
        margin-bottom: 5rem
    }
}